// backgrounds
$bg-lightgreen: #6DC77A;
$bg-lightblue: #32C2EC;
$bg-iconHeader : #2F55D41A;
$bg-header : #F8F9FC;
$bg-blue: #2F55D4;


// text colors
$txt-deepgrey: #3C4858;
$txt-lightgrey: #ADB5BD;
$txt-darkgrey : #8492a6;
$txt-lightblue: #007BFF;
$txt-blue: $bg-blue;


//border
$border-blue: $txt-blue;
$border-grey: #ADB5BD;
$border-lightgrey: #E9ECEF;